<p>adcreatives works!</p>
<form [formGroup]="adsCreativeForm">
    <label for="name">Name: </label>
    <input id="name" formControlName = "name">

    <label for="status">Status: </label>
    <input id="status" formControlName = "status">


    <label for="link">Link: </label>
    <input id="link" formControlName = "link">

    <label for="msg">Message: </label>
    <input id="msg" formControlName = "message">

    <label for="enrollStatus">Enroll Status: </label>
    <input id="enrollStatus" formControlName = "enrollStatus">
</form>