<div class="container">
    <h1>FaceBook Ads</h1>

    <div>
        <mat-card appearance="outlined">
            <mat-card-content>
                <label>Campaigns</label>
                <mat-form-field>
                    <mat-label>Select an option</mat-label>
                    <mat-select [(value)]="selected">
                        <mat-option>None</mat-option>
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option2">Option 2</mat-option>
                        <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                </mat-form-field>

                <button mat-flat-button>create</button>
            </mat-card-content>
        </mat-card>
    </div>
</div>