<p>adsets works!</p>
<form [formGroup]="adSetsForm">
    <label for="name">Name: </label>
    <input id="name" formControlName = "name">

    <label for="status">Status: </label>
    <input id="status" formControlName = "status">


    <label for="dailyBudget">Daily Budget: </label>
    <input id="dailyBudget" formControlName = "dailyBudget">

    <label for="bidAmount">Bid Amount: </label>
    <input id="bidAmount" formControlName = "bidAmount">

    <label for="billingEvent">Billing Event: </label>
    <input id="billingEvent" formControlName = "billingEvent">


    <label for="optimizationGoal">Goal: </label>
    <input id="optimizationGoal" formControlName = "optimizationGoal">

    <label for="countries">Countries: </label>
    <input id="countries" formControlName = "countries">
</form>